-
	var icons_list = [
		{
			title : 'Interface',
			icons : [
				'chevron-right',
				'chevron-left',
				'chevron-top',
				'chevron-bottom',
				'close',
				'burger',
				'arrow-right',
				'arrow-left',
				'arrow-top',
				'arrow-bottom',
				'dots',
				'checkboxes',
				'list',
				'maximize',
				'minimize',
				'video',
				'image',
			],
		},
		{
			title : 'Application (all)',
			icons : [
				'heart',
				'heart-filled',
				'print',
				'envelope',
				'locked',
				'unlocked',
				'search',
				'download',
				'upload',
				'map-point',
				'user',
				'group',
				'settings',
				'dashboard',
			],
		},
		{
			title : 'Shop',
			icons : [
				'compare',
				'busket-truck',
				'mobile',
			],
		},
		{
			title : 'Player',
			icons : [
				'play',
				'pause',
				'play-forward',
				'play-back',
				'mix',
				'loop',
				'volume',
				'soundtrack',
				'album',
				'ticket',
			],
		},
		{
			title : 'Application',
			icons : [
				'section',
				'folder',
				'book',
				'notes',
				'code',
				'branch',
				'hand-watches',
			],
		}
	]